$sm :640px;
// $md : 768px;
$md: 820px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #0D2F3F;
$secondary: #286F6C;
$secondary-white: #E7E7E7;
$tertiary: #f1f7f3;

// from solar gif
// 6D4B8A
// 8897B8
// B8A295
// C83C63

// from rock portrait
// 60564B
// D1E2E0
// 192837
// 4C3E3F
// 7A8F9D